body {
  padding-top: 69px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
#toast-container {
  box-shadow: none;
  background-image: url("../images/toasterBack.png");
  background-size: contain;
}
#toast-container > .toast {
  background-image: none !important;
}
#toast-container > div {
  box-shadow: none;
  width: 338px;
  height: 208px;
  font-weight: bold;
  color: #1f1811;
  font-size: 24px;
  line-height: 190px;
  text-align: center;
}
.toast-success {
  background-color: transparent;
}
#toast-container > .toast-success:before {
  content: none;
}
.toast-message {
  margin-left: -40px;
}
