@font-face
  font-family HSFont
  src url(../fonts/Belwe-Medium.otf)
  font-weight bold

body
  padding-top 69px
  background-image url("../images/back.png")
  background-size cover
  background-attachment fixed

.navbar
  background-image url('../images/banner.png')
  background-size contain
  box-shadow none

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.toast-top-right
  top 70px

#toast-container
  box-shadow none
  background-image url('../images/toasterBack.png')
  background-size contain

#toast-container > .toast
  background-image none !important

#toast-container > div
  box-shadow none
  width 338px
  height: 208px
  font-weight bold
  color #1F1811
  font-size 24px
  line-height 190px
  text-align center

#toast-container > div:hover
  box-shadow none
  width 338px
  height: 208px
  font-weight bold
  color #1F1811
  font-size 24px
  line-height 190px
  text-align center

.toast-success
  background-color transparent
  box-shadow none

#toast-container > .toast-success:before
  content none
  box-shadow none

.toast-message
  margin-left -40px

.navbar-nav > li > a:hover
  box-shadow none
  background-color none
  color: #FFFFFF

.clickable
  cursor pointer

.hsbutton
  width 200px
  height 70px
  color #3a3a3a
  font-family "HSFont", Arial
  font-weight bold
  text-align center
  font-size 12px
  background-image url("../images/HSbutton.png")
  background-position-y center
  background-repeat no-repeat
  background-size contain
  line-height 75px
  transition background .3s

.hsbutton:hover
  cursor pointer
  width 200px
  height 70px
  color #3a3a3a
  font-family "HSFont", Arial
  font-weight bold
  text-align center
  font-size 12px
  background-image url("../images/HSbuttonHover.png")
  background-position-y center
  background-repeat no-repeat
  background-size contain
  line-height 75px
  transition background .3s

.smallHsbutton
  margin-top -15px
  width 150px
  height 70px
  font-size 12px

.smallHsbutton:hover
  margin-top -15px
  width 150px
  height 70px
  font-size 12px

.smButton
  margin 0 7px
  width 100px
  height 50px
  color #B8AB8F
  font-family "HSFont", Arial
  font-weight bold
  text-align center
  font-size 14px
  background-image url("../images/smButton.png")
  background-position-y center
  background-repeat no-repeat
  background-size contain
  line-height 50px
  transition background .1s

.smButton:hover
  width 100px
  height 50px
  cursor: pointer
  background-image url("../images/smButtonHover.png")
  background-position-y center
  background-repeat no-repeat
  background-size contain
  line-height 50px
  transition background .3s

.text-vivid
  color: #FFFFFF

.big-card
  position fixed
  left 15%
  top 20%
  transform translateX(-15%, -20%)



