extends ../includes/layout

block main-content
    .navbar.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/")
                    img(style='max-width:100px; margin-top: 0;', src="/images/Brand.png")
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        .hsbutton(onclick="location='/'") HOME
                    li
                        .hsbutton(onclick="location='/cards'") CARDS
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2016 Hearthstone Deck Ameliorator - Taylor Boyd